.checkbox
  width: 100%
  padding: 5px 0
  position: relative
  display: block


.checkbox input[type="checkbox"]
  width: auto
  opacity: 0.00000001
  position: absolute
  left: 0
  margin-left: -20px

.checkbox label
  position: relative

.checkbox label:before
  content: ''
  position: absolute
  left: 0
  top: 0
  margin: 4px 4px 4px 15px
  width: 15px
  height: 15px
  transition: transform 0.28s ease
  border-radius: 3px
  border: 1px solid #9ABBCE

.checkbox label:after
  content: ''
  display: block
  width: 8px
  height: 5px
  border-bottom: 1px solid #00B336
  border-left: 1px solid #00B336
  -webkit-transform: rotate(-45deg) scale(0)
  transform: rotate(-45deg) scale(0)
  transition: transform ease 0.25s
  will-change: transform
  position: absolute
  top: 8px
  left: 19px

.checkbox input[type="checkbox"]:checked ~ label::before
  color: #00B336
  border: 1px solid #00B336

.checkbox input[type="checkbox"]:checked ~ label::after
  -webkit-transform: rotate(-45deg) scale(1)
  transform: rotate(-45deg) scale(1)


.checkbox label
  min-height: 25px
  display: block
  padding-left: 40px
  font-weight: normal
  cursor: pointer
  vertical-align: sub

.checkbox label span
  position: absolute
  top: 50%
  -webkit-transform: translateY(-50%)
  transform: translateY(-50%)

.checkbox input[type="checkbox"]:focus + label::before
  outline: 0
