@import "src/shared/global"

.headerMain *
  display: inline-block
.headerMain
  margin-bottom: 20px
  overflow: hidden
  .statistics *, .sort *
    color: #999999
    font-size: 20px
  .statistics *
    margin-right: 20px
    @media screen and (max-width: $small)
      display: block
  .statistics
    float: left
  .sort
    float: right
    .selected
      color: $green
  .sort *:hover
    cursor: pointer