@import "src/shared/global"

.productContainer
  padding: 20px
  border-bottom: 1px solid #cdcdcd
  .product
    width: 100%

    .productImage
      width: 20%
      min-width: 100px
      vertical-align: top

      @media screen and (max-width: $extraSmall)
        margin-right: 10px
      @media screen and (max-width: $mobile)
        width: 100%
        text-align: center


      .imageBox
        width: 100px
        height: 100px
        border: 2px solid lightgray
        position: relative
        display: flex
        justify-content: center
        align-items: center

        @media screen and (max-width: $mobile)
          margin: auto

        span
          position: absolute
          background-color: darkgreen
          top: -10%
          left: -2%
          color: white
          text-transform: uppercase
          padding: 2%
          font-size: 10px

        .greenBox
          width: 85px
          height: 70px
          background-color: $green

    .productInfo
      width: 80%
      vertical-align: top

      @media screen and (max-width: $small)
        width: 100%

      @media screen and (max-width: $extraSmall)
        width: 75%

      @media screen and (max-width: $mobile)
        width: 100%

      .title
        color: $green
        font-size: 24px

      .productBody *
        display: inline-block
        vertical-align: top

      .productBody
        margin-top: 4%
        width: 100%
        .descriptionActions
          width: 80%

          @media screen and (max-width: $small)
            width: 100%
            margin-bottom: 20px
          .description
            color: #232323
            font-size: 16px
            margin-bottom: 5%

          .actions
            width: 100%
            a
              color: $green
              text-decoration: none
              margin-right: 1em
            a *
              margin-right: 0.5em
            .pinAction
              float: right
              margin-right: 15px
              margin-left: 5px
              color: $green

              @media screen and (max-width: $small)
                margin-right: 0

            .pinAction:hover
              cursor: pointer
        .sideInfo
          width: 20%
          float: right
          .author
            color: #000000
            opacity: 0.6
            margin-bottom: 20px
            line-height: 23px
          .creationDate
            color: #000000
            opacity: 0.4
          @media screen and (max-width: $small)
            display: block
            width: 100%
            .author
              vertical-align: center
              margin-bottom: 0
              float: left
            .creationDate
              float: right


  .product div
    display: inline-block

    @media screen and (max-width: $small)
      display: block
    @media screen and (max-width: $extraSmall)
      display: inline-block
    @media screen and (max-width: $mobile)
      display: block


.productContainer.pined
  background-color: #f0f0f0
.productContainer:hover
  cursor: pointer