@import "src/shared/global"

.box
  border: 1px solid lightgray
  border-radius: 10px
  margin-bottom: 20px

  @media screen and (max-width: $small)
    display: inline-block
    width: 40%

  .header
    border-bottom: 1px solid lightgray
    padding: 10px 0 10px 5%
    font-weight: 600

  ul
    li:hover
      background-color: #f0f0f0
    li:last-child:hover
      border-bottom-right-radius: 10px
      border-bottom-left-radius: 10px
.box:not(:last-child)
  @media screen and (max-width: $small)
    float: left
.box:last-child
  @media screen and (max-width: $small)
    float: right